# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.env
.venv/
venv/

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.quasar/

# Docker
.dockerignore

# IDE
.vscode/
.idea/